body {
	background:#ccc;
	color:#333;
	margin: 0; 
	padding: 0;
	font: 12px/1.4 Verdana, Arial, Helvetica, sans-serif;
	text-align: center;
	}
#tudo {
	width: 980px;
	margin: 0 auto;
	text-align:left;
	background:#fff;
	}
#topo {
	position:relative;
	width:980px;
	height:100px;
	background:#f60 url('../imagens/bg-topo.jpg') no-repeat;
	}
#topo h1  { 
	position:absolute; 
	left:50px; 
	top:15px; 
	font-size: 28px;
	margin:0;
	}
#topo h1 span {
	color:#fff;
	}
ul#nav {
	position:absolute; 
	left:50px; 
	top:75px;
	margin:0; 
	padding:0;
	} 
ul#nav li { 
	margin-right:5px;
	display: inline;
	list-style-type: none;
	}
ul#nav li a { 
	float:left;  /*Corrige bug no IE7 que n&atilde;o expande background do estado over para padding top e bottom */
	color: #fff;
	font-size: 11px;
	font-weight: bold;
	text-decoration: none;
	text-transform: uppercase;
	padding: 3px 15px 7px 15px;
	margin-right:25px;
	}
ul#nav li a:hover {  
	background:#f63 url('../imagens/bg-over.jpg') repeat-x 0 0;
	}
#busca { 
	position:absolute; 
	right:20px; 
	top:75px;
	margin: 0;
	padding: 0;
	color: #fff;
	font-size: 11px;
	font-weight: bold;
	}
#busca label input {
	background: #fcc;
	border: none;
	}
#busca input#submit {
	background: #c30;
	border: 2px outset #f66;
	color:#fff;
	font-size:10px;
	}
/* Regras CSS que definem o template 1 com coluna direita de largura maior */
body#index #principal, body#quemsomos #principal {
	width:500px;
	margin: 20px 80px 50px 50px;	
	float:left;
	display:inline;
	}
body#index #auxiliar, body#quemsomos #auxiliar {
	width:350px;
	float:right;
	margin-top:50px;
	margin-bottom:50px;
	}
/* Fim das regras CSS que definem o template 1 com coluna direita de largura maior */
#rodape {
	height:20px;
	clear:both;
	background:#fc6;
	}
#rodape p {
	margin-left: 50px;
	font-size:11px;
	line-height:2;
	}
#rodape p span {
	color:#f60;
	font-weight:bold;
	}
h2 {
	font-size:26px;
	color:#0056a6;
	margin:30px 0 10px 0;
	}
#principal p {
	margin-top:10px;;
	}
#principal a, #principal a:visited {
	color: #f63;
	}
#principal a:hover {
	color: #f90;
	text-decoration: none;
	}
/* Consulte a errata da página 287 em http://www.livrohtml.com.br/errata.php */
p.pular {margin:0;}
p.pular a {
	display:block;
	text-align:right;
	padding-right:10px;
	color:#fff;
	}
p.pular a:hover {
	background:#fff;
	color:#333;
	}
/* Estiliza o link corrente na navegacao horizontal */
body#index ul#nav li a#in, body#quemsomos ul#nav li a#qs, 
body#produtos ul#nav li a#pr, body#contato ul#nav li a#co,
body#sucesso ul#nav li a#co {  
	background:#f63 url('../imagens/bg-over.jpg') repeat-x 0 0;
	}
/* Nota: exceto as regras para #principal e #auxiliar que sao exclusivas para a Home Page e a pagina Quem Somos as demais serao aplicadas em todas as paginas do site */